[Unit]
Description=SolarPi Server
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/solarpi
ExecStart=python /home/pi/solarpi/solarpi_server.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target